a{
	color: white;
	
}

div{
	font-family: "Bitstream Vera Sans Mono", sans-serif;
}
body{
	background-color: black;
	color: white;
}
#pageList{
	background-color: black;
	border: 1px solid white;
	margin: auto;
	width: 350px;
	color: white;
}

a:link{
	text-decoration: none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	background-color: white;
	color:black;
	text-decoration: none;
}
a:active{
	text-decoration: none;
}